main{
 
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #6d8492;
    align-items: center;
    justify-content: center;
    .Timer{
        font-size: 30px;
        font-weight: 450;
    }

    
}